nav {
	background-color: #138441;
}

.navbar-brand {
	color: white !important;
}

.nav-link {
	color: white !important;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: #61bc5c !important;
}

.img-max {
  max-width: 200px !important;
  width:100% !important;
}